#header {
    width: 850px;
    height: 75px;
    background: #00f000;
    padding: 15px;
    border: 1px solid;
}

#sidebar {
    width: 200px;
    height: 400px;
    background: #00f0f0;
    float: left;
    padding: 15px;
    border: 1px solid;
}

#page-wrap  {
    width: 850px;
    background: #f00fff;
	height: 400px;
    padding: 15px;
    border: 1px solid;
}

/* #display-area */
/* { */
/* 	padding: 5px; */
/*     border: 1px solid; */
/*     margin: 5px; */
/* } */

#footer {
    width: 860px;
    height: 50px;
    background: #f00000;
    padding: 10px;
    border: 1px solid;
}

#formLabelCol {
	width: 160px;
    float: left;
}

#formFieldCol {
}

#formRowSeparator {
	height: 10px;
}

#summaryLabelCol {
	width: 220px;
    float: left;
    font-weight: bold;
}

#tempBorder {
	border: 1px solid;
}

/** See http://lesscss.org/ */
@sleepEntryHeight: 45px;

/** Below here is for viewEntriesAlt.jsp */

#sleepEntryDateCol {
	float: left;
	width: 100px;
	height: @sleepEntryHeight;
}

#sleepEntryInfoLeftCol {
	float: left;
	height: 40px;
	width: 130px;
}

#solidBorder {
	border: 1px solid;
}

#sleepEntryInfo {
	height: @sleepEntryHeight;
}

/** Above here is for viewEntriesAlt.jsp */

#edit, #editInPopup, #delete {
    color: #ffffff;	
	font-size: 16px;
    text-decoration: none;
}