body { 
	font-size: 14px; 
	font-family: Helvetica, Arial, Sans-Serif; 	
	color: #777777;
	margin: 0; 
	padding: 0px;
	line-height: 150%;
	background-image:url('../images/cumulus_clouds.jpg');
	margin-left: 10px;
	margin-top: 10px;
}

#miniBody {
	background-color: #FFFFFF;
	margin-left: -10px;
	margin-top: -16px;
	height: 350px;
}

#popupBody {
	border: 1px solid;
	color: #0F0F0F;
}

#formBody {
/* 	background-image:none; */
}

#header {
    width: 850px;
    height: 75px;
    background: #F5FFFF;
	padding: 15px;
    border-bottom: 1px solid #A1DDF7;
}

#sidebar {
    width: 200px;
    height: 400px;
    background: #FBFFFF;
    float: left;
    padding: 15px;
    border-right: 1px solid #A1DDF7;
}

#page-wrap  {
    width: 850px;
    background: #FBFFFF;
	height: 400px;
    padding: 15px;
    border: 1px thin #000000;
}

/* #display-area */
/* { */
/* 	padding: 5px; */
/*     border: 1px solid; */
/*     margin: 5px; */
/* } */

#footer {
    width: 860px;
    height: 50px;
    background: #F5FFFF;
    padding: 10px;
    border-top: 1px solid #A1DDF7;
}

#formLabelCol {
	width: 160px;
    float: left;
    font-weight: bold;
}

#formFieldCol {
}

#formRowSeparator {
	height: 10px;
}

#summaryLabelCol {
	width: 220px;
    float: left;
    font-weight: bold;
}

#tempBorder {
	border: 1px solid;
}

/** See http://lesscss.org/ */
@sleepEntryHeight: 45px;

/** Below here is for viewEntriesAlt.jsp */

#sleepEntryDateCol {
	float: left;
	width: 100px;
	height: @sleepEntryHeight;
}

#sleepEntryInfoLeftCol {
	float: left;
	height: 40px;
	width: 130px;
}

#solidBorder {
	border: 1px solid;
}

#sleepEntryInfo {
	height: @sleepEntryHeight;
}

/** Above here is for viewEntriesAlt.jsp */

#edit, #editInPopup {
    color: #5A6DE8;	
    text-decoration: none;
}

#delete {
    color: #E85A79;	
    text-decoration: none;
}

#sleepLogHeaderCol {
	width: 85px;
	height: 20px;
	display: inline-block;
	font-weight: bold;
}

#sleepLogHeaderLongCol {
	width: 160px;
	height: 20px;
	display: inline-block;
	font-weight: bold;
}

#sleepLogDataCol {
	width: 85px;
	height: 20px;
	display: inline-block;
}

#sleepLogDataLongCol {
	width: 160x;
	height: 20px;
	display: inline-block;
}

#radioButton {
	width: 88px;
	height: 20px;
	display: inline-block;
}

#contents {
	border: 1px solid;
}